CONFIG_MTK_BOOT=y
CONFIG_WERROR=n

# Nothing stability
# CONFIG_NOTHING_WRITRBACK_KMSG is not set
# CONFIG_NOTHING_DISK_USAGE is not set
# CONFIG_NOTHING_TASK_MEMINFO is not set
# CONFIG_NOTHING_TASK_INFO is not set
# CONFIG_NOTHING_PERFORMANCE_FEATURE is not set
# CONFIG_NOTHING_CHECK_PARTS is not set

# Performance
# CONFIG_MTK_CORE_CTL is not set
# CONFIG_MTK_PERF_COMMON is not set
# CONFIG_MTK_PERF_TRACKER is not set
# CONFIG_MTK_LOAD_TRACKER is not set
# CONFIG_MTK_TASK_TURBO is not set
# CONFIG_MTK_FPSGO_V3 is not set
# CONFIG_MTK_FRS is not set
# CONFIG_MTK_PERFORMANCE_MODULE is not set
# CONFIG_MTK_PERF_IOCTL_MAGT is not set
# CONFIG_MTK_NET_RPS is not set

# Scheduler
# CONFIG_MTK_SCHEDULER is not set
# CONFIG_MTK_CPUFREQ_SUGOV_EXT is not set
# CONFIG_MTK_GEARLESS_SUPPORT is not set

# Thermal
# CONFIG_MTK_THERMAL_JATM is not set
